{% load static %}

<footer class="footer pt-5 mt-5">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class=" row">
      <div class="text-center">
        <div>
          <h6 class="text-gradient text-primary font-weight-bolder">Fantasy Gourmets</h6>
        </div>
      </div>
      <div class="">
        <div class="text-center">
          <p class="my-4 text-sm">
            &copy; <a href="https://github.com/KittNeKit" target="_blank">KittNeKit</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
