{% extends 'base.html' %}
{% load static %}

{% block content %}
  <header class="header-2">
  <div class="page-header min-vh-65 relative">
    <div class="container">
      <h1>
        Recipes
      </h1>
      {% if  %}
        <table class="table">
          <tr>
            <th>ID</th>
            <th>Recipe name</th>
            <th>Game</th>
            <th>Dish type</th>
          </tr>
        {% for recipe in recipe_list %}
          <tr>
            <td>{{ recipe.id }}</td>
            <td><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a></td>
            <td>{{ recipe.game_id.name }}</td>
            <td>{{ recipe.type_of_dish.name }}</td>
          </tr>
        {% endfor %}

        </table>
    {% else %}
      <p>There are no recipe.</p>
    {% endif %}
    </div>
  </div>
  </header>

{% endblock %}